body {
  margin: 0 auto;
  background-color: #efeff9;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}

h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}

h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}

h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}

h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}

p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}

.container {
  height: 100vh;
}

.container .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  padding-top: 60px;
}

.container .nav .logo {
  display: -ms-grid;
  display: grid;
  margin: auto auto auto 0;
}

.container .nav .title {
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.container .nav .title h4 {
  text-align: center;
  font-weight: 600;
  line-height: 1.25;
}

.container .nav .title .first {
  margin-top: 0;
  margin-bottom: 0;
}

.container .nav .title .last {
  margin-top: 6px;
}

.container .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 50%;
  margin: auto auto 0 auto;
}

.container .title .container-2 .text {
  margin-top: 146px;
}

.container .title .container-2 .text h1 {
  margin: 0;
}

.container .title .container-2 .email {
  margin-top: 86px;
  margin-left: 280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.container .title .container-2 .email span {
  font-family: "Raleway";
  font-size: 24px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin: auto 8px auto auto;
}

.container .title .container-2 .email span a {
  text-decoration: none;
  color: inherit;
}

.container .title .container-2 .paragraph {
  margin-top: 86px;
  margin-left: 280px;
}

.container .title .container-2 .paragraph p {
  line-height: 1.2;
}
/*# sourceMappingURL=style.css.map */