body {
  margin: 0 auto;
  background-color: #efeff9;
  height: 100%;
}
// Globals
.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
  //   margin: 0;
}
h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}
h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}
h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}
h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}
p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}
// Variables
$color-background: #f5f5f5;
$color-main: #232323;
$color-active: #fff;
$color-link: #4a4a4a;

$button-height: 27px;
$button-width: 35px;

.container {
  height: 100vh;
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding-top: 60px;
    .logo {
      display: grid;
      margin: auto auto auto 0;
    }
    .title {
      margin: auto;
      display: grid;
      h4 {
        text-align: center;
        font-weight: 600;
        line-height: 1.25;
      }
      .first {
        margin-top: 0;
        margin-bottom: 0;
      }
      .last {
        margin-top: 6px;
      }
    }
  }

  .title {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto auto 0 auto;
    .container-2 {
      .text {
        // display: grid;
        margin-top: 146px;
        h1 {
          margin: 0;
        }
      }
      .email {
        margin-top: 86px;
        margin-left: 280px;
        display: grid;
        grid-template-columns: auto 1fr;
        span {
          font-family: "Raleway";
          font-size: 24px;
          color: #4a4a4a;
          letter-spacing: 0.5px;
          font-weight: 700;
          margin: auto 8px auto auto;
          a {
              text-decoration: none;
              color: inherit;
          }
        }
      }
      .paragraph {
        margin-top: 86px;
        margin-left: 280px;
        p {
            line-height: 1.2;
        }
      }
    }
  }
}
