body {
  margin: 0 auto;
  background-color: #efeff9;
}
// Globals
h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}
h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}
h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}
h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}
h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}
p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}
// Variables
$color-background: #f5f5f5;
$color-main: #232323;
$color-active: #fff;
$color-link: #4a4a4a;

$button-height: 27px;
$button-width: 35px;

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;

  // &:hover {
  //   opacity: .7;
  // }
  // .span {
  //   &:hover {
  //     opacity: 0;
  //     display: none;
  //   }
  // }

  // &.active {
  //   .top {
  //     transform: translateY(11px) translateX(0) rotate(45deg);
  //     background: $color-active;
  //     border-radius: 5px;
  //     display: none;
  //   }
  //   .middle {
  //     opacity: 0;
  //     background: $color-active;
  //     display: none;
  //   }

  //   .bottom {
  //     transform: translateY(-11px) translateX(0) rotate(-45deg);
  //     background: $color-active;
  //     display: none;
  //   }
  // }

  span {
    background: $color-main;
    border-radius: 50px;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
  .hover-menu {
    visibility: hidden;
    display: grid;
    .menu {
      position: fixed;
      right: 1.6%;
      top: 5.5%;
      color: #fff;
      font-family: "Raleway";
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .hover-menu-open {
    visibility: visible;
  }
  .hover-menu-closed {
    // display: none;
    visibility: hidden;
  }
}
.button-container-closed {
  // display: none;
  visibility: hidden;
}

.overlay {
  z-index: 99;
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s;
  overflow: hidden;
  display: grid;
  &.open {
    opacity: 0.99;
    visibility: visible;
    height: 100%;
    .menu {
      // animation: fadeInRight .5s ease forwards;
      // animation-delay: .35s;
      display: grid;
      img {
        display: grid;
        margin: auto;
        animation: fadeInRight 2.5s ease forwards;
        // animation-delay: .35s;
      }
      .close-closed {
        display: none;
      }
      .close-open {
        display: grid;
      }
    }
  }

  nav {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    text-align: center;
    display: grid;
  }

  .social {
    bottom: 60px;
    text-align: center;

    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway";
    text-transform: uppercase;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

// Overlays Start Here

.overlay2 {
  z-index: 99;
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: grid;
  .simms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h3 {
      text-align: center;
      padding-top: 60px;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      font-family: "Raleway";
      text-transform: uppercase;
      grid-column: 2 / 3;
    }
    h4 {
      grid-column: 3 / 4;
      // top: 4%;
      position: fixed;
      right: 2%;
      margin-top: 4%;
      margin-right: 2%;
      // height: 100px;
      width: 100px;
      cursor: pointer;
      z-index: 99;
      color: #fff;
      font-family: "Raleway";
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }

  &.open {
    opacity: 0.99;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
    }
  }
  &.close {
    visibility: hidden;
  }

  nav {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    // position: relative;
    height: 100%;
    font-family: "Raleway";
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;

    li {
      display: block;
      // height: 25%;
      // height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      font-family: "Raleway";

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 50%;
        }
        &:hover {
          color: #fe3b00;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
  .social {
    bottom: 60px;
    text-align: center;

    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway";
    text-transform: uppercase;
  }
}
.overlayss-closed {
  display: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay3 {
  z-index: 99;
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s;
  overflow: hidden;
  display: grid;
  &.open {
    opacity: 0.99;
    visibility: visible;
    height: 100%;
    .menu {
      // animation: fadeInRight .5s ease forwards;
      // animation-delay: .35s;
      display: grid;
      img {
        display: grid;
        margin: auto;
        animation: fadeInRight 2.5s ease forwards;
        // animation-delay: .35s;
      }
      .close-closed {
        display: none;
      }
      .close-open {
        display: grid;
      }
    }
  }

  nav {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    text-align: center;
    display: grid;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    // position: relative;
    height: 100%;
    font-family: "Raleway";
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;

    li {
      display: block;
      // height: 25%;
      // height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      font-family: "Raleway";

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 50%;
        }
        &:hover {
          color: #fe3b00;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
  .social {
    bottom: 60px;
    text-align: center;

    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway";
    text-transform: uppercase;
  }
}
.overlay3-open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 546px 1fr;
  height: 100vh;
  background-image: url("./homepage-assets/simm-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .left-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 60px auto 0 auto;
    .social {
      display: grid;
      margin: 0 auto auto 0;
      h4 {
        font-family: "Raleway";
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 0;
      }
      .red {
        color: #fe2400;
        margin: 0;
        font-weight: 700;
      }

      .middle {
        margin: 12px 0 0 0;
      }
      .bottom {
        margin-top: 6px;
        margin-bottom: 0;
      }
    }
    .title {
      margin: 0 auto;
      h4 {
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
        line-height: 1.25;
      }
      .last {
        margin-top: 6px;
      }
    }
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    .copy {
      display: grid;
      width: 1000px;
      div {
        font-size: 100px;
        font-family: "Raleway";
        text-transform: uppercase;
        color: #4a4a4a;
      }
      .first {
        font-weight: 700;
      }
      .second {
        font-weight: 400;
      }
      .third {
        display: grid;
        grid-template-columns: 280px 1fr;
        font-weight: 400;

        .paragraph {
          font-size: 24px;
          margin: auto auto auto 30px;
          line-height: 1.7;
          font-weight: 500;
          letter-spacing: 0.33px;
          span {
            font-weight: 700;
          }
          .red {
            color: #fe5000;
            font-weight: 400;
          }
        }
      }
    }
  }
  .scroll {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto 0 auto;
    // height: 100%;
    .right {
      display: grid;
      justify-items: end;
      // height: 130px;
      // width: 162px;
      .bars {
        transform: rotate(90deg);
        display: grid;
        grid-template-columns: 1fr 1fr;

        h5 {
          margin: auto;
        }
        .bar {
          margin: auto;
          width: 64px;
          height: 1px;
          background-color: #fe3b00;
          z-index: 1;
        }
      }
    }
  }
  .scroll-bounce {
    animation-name: scroll-bounce;
    animation-timing-function: linear;
    
 
}
@keyframes scroll-bounce {
  0% { transform: translateY(0); }
      50% { transform: translateY(-100px); }
      100% { transform: translateY(0); }
}
}
// Section One
.section-one {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  background-color: #efeff9;
  .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: "one";
    .wrapper {
      display: grid;
      grid-area: one;
      background-size: 819px 622px;
      height: 518px;
      margin: auto auto auto 0;
      &:hover {
        cursor: pointer;
      }
      .image {
        grid-area: one;
        max-width: 800px;
        overflow: hidden;
        .image-1 {
          padding-left: 0;
          transition: 0.5s;
        }
        .image-1-hover {
          padding-left: 100px;
          transition: 0.5s;
        }
      }
      .arrow {
        z-index: 99;
        grid-area: one;
        margin: auto auto auto 0;
        opacity: 0;
        transition: 1s;
      }
      .arrow-hover {
        opacity: 1;
        transition: opacity 1s;
      }

      .copy {
        display: grid;
        margin: auto auto auto 760px;
        grid-area: one;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 518px;
        .title {
          padding-top: 50px;
          h1 {
            margin: 0;
          }
        }
        .subtitle {
          margin-left: 100px;
          h4 {
            margin-top: 16px;
          }
        }
        .pagination {
          margin-left: 100px;
          padding-top: 100px;
          h3 {
            margin-top: 0;
            display: grid;
            margin-bottom: 11px;
            animation: typing 2.5s steps(15, end);
            overflow: hidden;
          }
          @keyframes typing {
            from {
              width: 0;
            }
            to {
              width: 100%;
            }
          }
          .divider {
            height: 1px;
            width: 160px;
            background-color: #fe2400;
          }
        }
      }
    }
  }
}
// Section Two
.section-two {
  display: grid;
  height: 100vh;
  width: 90%;
  margin: auto;
  background-color: #efeff9;
  .container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "one";
    .wrapper {
      display: grid;
      grid-area: one;
      height: 518px;
      margin: auto 0 auto auto;
      // background-image: url("./homepage-assets/Placeholder.jpg");
      background-size: 819px 622px;
      background-repeat: no-repeat;
      .image {
        grid-area: one;
        margin: auto 0 auto auto;
        max-width: 800px;
        overflow: hidden;

        .image-2 {
          transition: 0.5s;
        }
        .image-2-hover {
          margin-right: 100px;
          transition: 0.5s;
        }
      }
      .white-box {
        grid-area: one;
        height: 518px;
        background-color: #efeff9;
        margin: auto 0 auto auto;
        width: 0;
        transition: 0.5s;
      }
      .white-box-hover {
        grid-area: one;
        height: 518px;
        background-color: #efeff9;
        margin: auto 0 auto auto;
        width: 100px;
        transition: 0.5s;
      }
      .arrow-2 {
        grid-area: one;
        margin: auto 0 auto auto;
        opacity: 0;
        z-index: 99;
        transition: 1s;
      }
      .arrow-2-hover {
        opacity: 1;
        transition: opacity 1s;
      }

      .copy {
        display: grid;
        margin: auto 600px auto auto;
        grid-area: one;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 518px;
        justify-self: end;
        .title {
          padding-top: 50px;
          h1 {
            margin: 0;
          }
        }
        .subtitle {
          // margin-left: 100px;
          h4 {
            margin-top: 16px;
          }
        }
        .pagination {
          justify-self: end;
          margin-right: 270px;
          padding-top: 100px;
          .divider {
            height: 1px;
            width: 160px;
            background-color: #fe2400;
          }
        }
        h3 {
          margin-top: 0;
          display: grid;
          text-align: right;
          margin-bottom: 11px;
        }
      }
    }
  }
}
// Section Three
.section-three {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  background-color: #efeff9;
  .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: "one";
    .wrapper {
      display: grid;
      grid-area: one;
      background-size: 819px 622px;
      height: 518px;
      margin: auto auto auto 0;
      .image {
        grid-area: one;
        max-width: 800px;
        overflow: hidden;
        .image-3 {
          padding-left: 0;
          transition: 0.5s;
        }
        .image-3-hover {
          padding-left: 100px;
          transition: 0.5s;
        }
      }
      .arrow-3 {
        z-index: 99;
        grid-area: one;
        margin: auto auto auto 0;
        opacity: 0;
        transition: 1s;
      }
      .arrow-3-hover {
        opacity: 1;
        transition: opacity 1s;
      }

      .copy {
        display: grid;
        margin: auto auto auto 760px;
        grid-area: one;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 518px;
        .title {
          padding-top: 50px;
          h1 {
            margin: 0;
          }
        }
        .subtitle {
          margin-left: 100px;
          h4 {
            margin-top: 16px;
          }
        }
        .pagination {
          margin-left: 100px;
          padding-top: 100px;
          .divider {
            height: 1px;
            width: 160px;
            background-color: #fe2400;
          }
        }
        h3 {
          margin-top: 0;
          display: grid;
          margin-bottom: 11px;
        }
      }
    }
  }
}

.view {
  background-color: #efeff9;
  .container {
    display: grid;
    grid-template-areas: "one";

    .link {
      display: grid;
      margin: 250px auto 250px auto;
      img {
        grid-area: one;
        opacity: 0;
        transition: .5s;
      }
      .circle-hover {
        opacity: 1;
        transition: .5s;
      }
      h3 {
        grid-area: one;
        margin: auto;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
.simm {
  .container {
    display: grid;
    img {
      margin: auto;
    }
  }
}
.footer {
  padding-bottom: 50px;
  padding-top: 150px;
  background-color: #fff;
  .container {
    .work {
      margin-bottom: 100px;
      h2 {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
      }
      h4 {
        margin-top: 0;
        text-align: center;
        color: #fe2400;
      }
    }
    .contact {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 50% 1fr;
      .first {
        .email {
          margin-top: 60px;
          font-weight: 700;
        }
      }
      .second {
        .boris {
          font-weight: 700;
        }
      }
      .third {
        h4 {
          text-align: right;
          text-transform: uppercase;
        }
        .special {
          color: #fe2400;
          text-transform: uppercase;
          font-weight: 700;
        }
        h4 {
          margin: 0;
        }
        .behance {
          margin: 12px 0 0 0;
        }
      }
    }
  }
}
