body {
  margin: 0 auto;
  background-color: #efeff9;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}

h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}

h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}

h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}

h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}

p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button_container span {
  background: #232323;
  border-radius: 50px;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.button_container .hover-menu {
  visibility: hidden;
  display: -ms-grid;
  display: grid;
}

.button_container .hover-menu .menu {
  position: fixed;
  right: 1.6%;
  top: 5.5%;
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.button_container .hover-menu .menu a {
  text-decoration: none;
  color: #ffffff;
}

.button_container .hover-menu-open {
  visibility: visible;
}

.button_container .hover-menu-closed {
  visibility: hidden;
}

.button-container-closed {
  visibility: hidden;
}

.overlay {
  z-index: 99;
  position: fixed;
  background: #232323;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s;
  transition: opacity 0.35s, visibility 0.35s;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.overlay.open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay.open .menu {
  display: -ms-grid;
  display: grid;
}

.overlay.open .menu img {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -webkit-animation: fadeInRight 2.5s ease forwards;
          animation: fadeInRight 2.5s ease forwards;
}

.overlay.open .menu .close-closed {
  display: none;
}

.overlay.open .menu .close-open {
  display: -ms-grid;
  display: grid;
}

.overlay nav {
  position: relative;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.overlay .social {
  bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway";
  text-transform: uppercase;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay2 {
  z-index: 99;
  position: fixed;
  background: #232323;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.overlay2 .simms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.overlay2 .simms h3 {
  text-align: center;
  padding-top: 60px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway";
  text-transform: uppercase;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.overlay2 .simms h4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  position: fixed;
  right: 2%;
  margin-top: 4%;
  margin-right: 2%;
  width: 100px;
  cursor: pointer;
  z-index: 99;
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.overlay2.open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay2.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay2.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay2.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay2.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay2.close {
  visibility: hidden;
}

.overlay2 nav {
  position: relative;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}

.overlay2 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  height: 100%;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.overlay2 ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
  font-family: "Raleway";
}

.overlay2 ul li a {
  display: block;
  position: relative;
  color: #4a4a4a;
  text-decoration: none;
  overflow: hidden;
}

.overlay2 ul li a:hover:after, .overlay2 ul li a:focus:after, .overlay2 ul li a:active:after {
  width: 50%;
}

.overlay2 ul li a:hover {
  color: #fe3b00;
}

.overlay2 ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #4a4a4a;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.overlay2 .social {
  bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway";
  text-transform: uppercase;
}

.overlayss-closed {
  display: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay3 {
  z-index: 99;
  position: fixed;
  background: #232323;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s;
  transition: opacity 0.35s, visibility 0.35s;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.overlay3.open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay3.open .menu {
  display: -ms-grid;
  display: grid;
}

.overlay3.open .menu img {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -webkit-animation: fadeInRight 2.5s ease forwards;
          animation: fadeInRight 2.5s ease forwards;
}

.overlay3.open .menu .close-closed {
  display: none;
}

.overlay3.open .menu .close-open {
  display: -ms-grid;
  display: grid;
}

.overlay3 nav {
  position: relative;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.overlay3 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  height: 100%;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.overlay3 ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
  font-family: "Raleway";
}

.overlay3 ul li a {
  display: block;
  position: relative;
  color: #4a4a4a;
  text-decoration: none;
  overflow: hidden;
}

.overlay3 ul li a:hover:after, .overlay3 ul li a:focus:after, .overlay3 ul li a:active:after {
  width: 50%;
}

.overlay3 ul li a:hover {
  color: #fe3b00;
}

.overlay3 ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #4a4a4a;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.overlay3 .social {
  bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway";
  text-transform: uppercase;
}

.overlay3-open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 546px 1fr;
      grid-template-rows: 1fr 546px 1fr;
  height: 100vh;
  background-image: url("./homepage-assets/simm-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .left-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 60px auto 0 auto;
}

.hero .left-nav .social {
  display: -ms-grid;
  display: grid;
  margin: 0 auto auto 0;
}

.hero .left-nav .social h4 {
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 0;
}

.hero .left-nav .social .red {
  color: #fe2400;
  margin: 0;
  font-weight: 700;
}

.hero .left-nav .social .middle {
  margin: 12px 0 0 0;
}

.hero .left-nav .social .bottom {
  margin-top: 6px;
  margin-bottom: 0;
}

.hero .left-nav .title {
  margin: 0 auto;
}

.hero .left-nav .title h4 {
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  line-height: 1.25;
}

.hero .left-nav .title .last {
  margin-top: 6px;
}

.hero .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: auto;
}

.hero .logo .copy {
  display: -ms-grid;
  display: grid;
  width: 1000px;
}

.hero .logo .copy div {
  font-size: 100px;
  font-family: "Raleway";
  text-transform: uppercase;
  color: #4a4a4a;
}

.hero .logo .copy .first {
  font-weight: 700;
}

.hero .logo .copy .second {
  font-weight: 400;
}

.hero .logo .copy .third {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 1fr;
      grid-template-columns: 280px 1fr;
  font-weight: 400;
}

.hero .logo .copy .third .paragraph {
  font-size: 24px;
  margin: auto auto auto 30px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.33px;
}

.hero .logo .copy .third .paragraph span {
  font-weight: 700;
}

.hero .logo .copy .third .paragraph .red {
  color: #fe5000;
  font-weight: 400;
}

.hero .scroll {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto 0 auto;
}

.hero .scroll .right {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}

.hero .scroll .right .bars {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hero .scroll .right .bars h5 {
  margin: auto;
}

.hero .scroll .right .bars .bar {
  margin: auto;
  width: 64px;
  height: 1px;
  background-color: #fe3b00;
  z-index: 1;
}

.hero .scroll-bounce {
  -webkit-animation-name: scroll-bounce;
          animation-name: scroll-bounce;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes scroll-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-one {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #efeff9;
}

.section-one .container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.section-one .container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  background-size: 819px 622px;
  height: 518px;
  margin: auto auto auto 0;
}

.section-one .container .wrapper:hover {
  cursor: pointer;
}

.section-one .container .wrapper .image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  max-width: 800px;
  overflow: hidden;
}

.section-one .container .wrapper .image .image-1 {
  padding-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-one .container .wrapper .image .image-1-hover {
  padding-left: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-one .container .wrapper .arrow {
  z-index: 99;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: auto auto auto 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-one .container .wrapper .arrow-hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.section-one .container .wrapper .copy {
  display: -ms-grid;
  display: grid;
  margin: auto auto auto 760px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: grid;
      grid-template-rows: 1fr 1fr 1fr;
  height: 518px;
}

.section-one .container .wrapper .copy .title {
  padding-top: 50px;
}

.section-one .container .wrapper .copy .title h1 {
  margin: 0;
}

.section-one .container .wrapper .copy .subtitle {
  margin-left: 100px;
}

.section-one .container .wrapper .copy .subtitle h4 {
  margin-top: 16px;
}

.section-one .container .wrapper .copy .pagination {
  margin-left: 100px;
  padding-top: 100px;
}

.section-one .container .wrapper .copy .pagination h3 {
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  margin-bottom: 11px;
  -webkit-animation: typing 2.5s steps(15, end);
          animation: typing 2.5s steps(15, end);
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section-one .container .wrapper .copy .pagination .divider {
  height: 1px;
  width: 160px;
  background-color: #fe2400;
}

.section-two {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 90%;
  margin: auto;
  background-color: #efeff9;
}

.section-two .container {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.section-two .container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  height: 518px;
  margin: auto 0 auto auto;
  background-size: 819px 622px;
  background-repeat: no-repeat;
}

.section-two .container .wrapper .image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: auto 0 auto auto;
  max-width: 800px;
  overflow: hidden;
}

.section-two .container .wrapper .image .image-2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-two .container .wrapper .image .image-2-hover {
  margin-right: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-two .container .wrapper .white-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  height: 518px;
  background-color: #efeff9;
  margin: auto 0 auto auto;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-two .container .wrapper .white-box-hover {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  height: 518px;
  background-color: #efeff9;
  margin: auto 0 auto auto;
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-two .container .wrapper .arrow-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: auto 0 auto auto;
  opacity: 0;
  z-index: 99;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-two .container .wrapper .arrow-2-hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.section-two .container .wrapper .copy {
  display: -ms-grid;
  display: grid;
  margin: auto 600px auto auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: grid;
      grid-template-rows: 1fr 1fr 1fr;
  height: 518px;
      justify-self: end;
}

.section-two .container .wrapper .copy .title {
  padding-top: 50px;
}

.section-two .container .wrapper .copy .title h1 {
  margin: 0;
}

.section-two .container .wrapper .copy .subtitle h4 {
  margin-top: 16px;
}

.section-two .container .wrapper .copy .pagination {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 270px;
  padding-top: 100px;
}

.section-two .container .wrapper .copy .pagination .divider {
  height: 1px;
  width: 160px;
  background-color: #fe2400;
}

.section-two .container .wrapper .copy h3 {
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  text-align: right;
  margin-bottom: 11px;
}

.section-three {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #efeff9;
}

.section-three .container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.section-three .container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  background-size: 819px 622px;
  height: 518px;
  margin: auto auto auto 0;
}

.section-three .container .wrapper .image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  max-width: 800px;
  overflow: hidden;
}

.section-three .container .wrapper .image .image-3 {
  padding-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-three .container .wrapper .image .image-3-hover {
  padding-left: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-three .container .wrapper .arrow-3 {
  z-index: 99;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: auto auto auto 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-three .container .wrapper .arrow-3-hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.section-three .container .wrapper .copy {
  display: -ms-grid;
  display: grid;
  margin: auto auto auto 760px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: grid;
      grid-template-rows: 1fr 1fr 1fr;
  height: 518px;
}

.section-three .container .wrapper .copy .title {
  padding-top: 50px;
}

.section-three .container .wrapper .copy .title h1 {
  margin: 0;
}

.section-three .container .wrapper .copy .subtitle {
  margin-left: 100px;
}

.section-three .container .wrapper .copy .subtitle h4 {
  margin-top: 16px;
}

.section-three .container .wrapper .copy .pagination {
  margin-left: 100px;
  padding-top: 100px;
}

.section-three .container .wrapper .copy .pagination .divider {
  height: 1px;
  width: 160px;
  background-color: #fe2400;
}

.section-three .container .wrapper .copy h3 {
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  margin-bottom: 11px;
}

.view {
  background-color: #efeff9;
}

.view .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.view .container .link {
  display: -ms-grid;
  display: grid;
  margin: 250px auto 250px auto;
}

.view .container .link img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.view .container .link .circle-hover {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.view .container .link h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

.simm .container {
  display: -ms-grid;
  display: grid;
}

.simm .container img {
  margin: auto;
}

.footer {
  padding-bottom: 50px;
  padding-top: 150px;
  background-color: #fff;
}

.footer .container .work {
  margin-bottom: 100px;
}

.footer .container .work h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
}

.footer .container .work h4 {
  margin-top: 0;
  text-align: center;
  color: #fe2400;
}

.footer .container .contact {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50% 1fr;
      grid-template-columns: 1fr 50% 1fr;
}

.footer .container .contact .first .email {
  margin-top: 60px;
  font-weight: 700;
}

.footer .container .contact .second .boris {
  font-weight: 700;
}

.footer .container .contact .third h4 {
  text-align: right;
  text-transform: uppercase;
}

.footer .container .contact .third .special {
  color: #fe2400;
  text-transform: uppercase;
  font-weight: 700;
}

.footer .container .contact .third h4 {
  margin: 0;
}

.footer .container .contact .third .behance {
  margin: 12px 0 0 0;
}
/*# sourceMappingURL=style.css.map */