<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Menu</title>



    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
     $(document).ready(function () {
  $('#click').click(function() {
    window.history.back();
  });
});
    </script>




  </head>
  <body>   
    <div class="overlay2" id="overlay2">
        <div class="simms">
          <h3>Simmeyon Strickland</h3>
    
         <div class="close-button" id="close">
            <h4 id="click">Close</h4>
          </div>
        </div>
          <div class="nav">
            <nav class="overlay-menu">
              
              
                <ul>
                    <li><a href="#">Work<span>01</span></a></li>
                    <li><a href="../About/">About<span>02</span></a></li>
                    <li><a href="../Contact/">Contact<span>03</span></a></li>
                    
                </ul>
            </nav>
          </div>
          <div class="social">
            Simmeyon Strickland
          </div>
      </div>

  </body>
</html>
