body {
  margin: 0 auto;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}

h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}

h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 1.1;
  color: #232323;
}

h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #232323;
  line-height: 1.25;
}

h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}

p {
  color: #232323;
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 500;
}

.overlay2 {
  background: #232323;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow-x: hidden;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
}

.overlay2 .simms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.overlay2 .simms h3 {
  text-align: center;
  padding-top: 60px;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  font-family: 'Raleway';
  text-transform: uppercase;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.overlay2 .simms h4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  margin-top: 0;
  position: fixed;
  right: 2.5%;
  top: 5.5%;
  color: #fff;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.overlay2 li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay2 li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay2 li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay2 li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay2 nav {
  position: relative;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Varela Round', serif;
  font-weight: 400;
  text-align: center;
}

.overlay2 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  height: 100%;
  font-family: 'Raleway';
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.overlay2 ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
  font-family: 'Raleway';
}

.overlay2 ul li a {
  display: block;
  position: relative;
  color: #4A4A4A;
  text-decoration: none;
  overflow: hidden;
}

.overlay2 ul li a:hover:after, .overlay2 ul li a:focus:after, .overlay2 ul li a:active:after {
  width: 50%;
}

.overlay2 ul li a:hover {
  color: #FE3B00;
}

.overlay2 ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #4A4A4A;
  -webkit-transition: .35s;
  transition: .35s;
}

.overlay2 ul li a span {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-left: 10px;
}

.overlay2 .social {
  bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  font-family: 'Raleway';
  text-transform: uppercase;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */