
body {
    margin: 0 auto;
  }
  // Globals
  h1 {
    font-size: 90px;
    font-family: "Raleway";
    font-weight: 900;
    text-transform: uppercase;
    color: #232323;
    line-height: 1.04;
  }
  h2 {
    font-size: 60px;
    font-family: "Raleway";
    font-weight: 500;
    text-transform: uppercase;
    color: #232323;
  }
  h3 {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.1;
    color: #232323;
  }
  h4 {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #232323;
    line-height: 1.25;
  }
  h5 {
    font-family: "Raleway";
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #232323;
  }
  p {
    color: #232323;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 500;
  }
  // Variables
  $color-background: #F5F5F5;
  $color-main: #232323;
  $color-active: #FFF;
  $color-link: #4A4A4A;
  
  $button-height: 27px;
  $button-width: 35px;





.overlay2 {
    // position: fixed;
    background: $color-main;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    .simms {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      h3 {
      text-align: center;
      padding-top: 60px;
      font-size: 16px;
      color: #FFF;
      font-weight: 600;
      font-family: 'Raleway';
      text-transform: uppercase;
      grid-column: 2 / 3;
      }
      h4 {
        grid-column: 3 / 4;
        margin-top: 0;
      // top: 4%; 
      position: fixed;
      right: 2.5%;
      top: 5.5%;
      color: #fff;
      font-family: 'Raleway';
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      
      }
  
    }
    
   
      
      li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
        
        &:nth-of-type(2) {
          animation-delay: .4s;
        }
        &:nth-of-type(3) {
          animation-delay: .45s;
        }
        &:nth-of-type(4) {
          animation-delay: .50s;
        }
      }
    
    // &.close {
    //   visibility: hidden;
    // }
  
    nav {
      position: relative;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: 'Varela Round', serif;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: grid;
      // position: relative;
      height: 100%;
      font-family: 'Raleway'; 
      font-size: 100px;
      font-weight: 900;
      text-transform: uppercase;
      
      
      li {
        display: block;
        // height: 25%;
        // height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
        font-family: 'Raleway';
        
        
        a {
          display: block;
          position: relative;
          color: $color-link;
          text-decoration: none;
          overflow: hidden;
          
          
          &:hover:after,
           &:focus:after,
           &:active:after {
             width: 50%;
             
           }
           &:hover {
             color: #FE3B00;
           }
          
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $color-link;
            transition: .35s;
            
          }
          span {
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 5px;
            padding-left: 10px;
          }
        }
      }
    }
    .social {
      bottom: 60px;
      text-align: center;
  
      font-size: 16px;
      color: #FFF;
      font-weight: 600;
      font-family: 'Raleway';
      text-transform: uppercase;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }