<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Menu</title>



    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>

$(document).ready(function () {
    $(window).scroll(function(){
     var sticky1 = $('.divider-1')
     var sticky2 = $('.divider-2')
     var sticky3 = $('.divider-3')
     var sticky4 = $('.divider-4')
     var rail = $('.left-rail')

      scroll = $(window).scrollTop();

   if (scroll >= 1000) sticky1.addClass('divider-1-hide');
   if (scroll <= 1000) sticky1.removeClass('divider-1-hide');
   if (scroll > 1000) sticky2.addClass('divider-2-show');
   if (scroll <= 1000) sticky2.removeClass('divider-2-show');
   if (scroll >= 2300) sticky2.removeClass('divider-2-show');
   if (scroll > 2300) sticky3.addClass('divider-3-show');
   if (scroll >= 3400) sticky3.removeClass('divider-3-show');
   if (scroll < 2300) sticky3.removeClass('divider-3-show');
   if (scroll >= 3400) sticky4.addClass('divider-4-show');
   if (scroll < 3400) sticky4.removeClass('divider-4-show');
  //  if (scroll > 4000) sticky4.removeClass('divider-4-show');
   if (scroll > 4000) rail.addClass('left-rail-hide');
   if (scroll < 4000) rail.removeClass('left-rail-hide');
   

  // if (scroll >= 1000) sticky2.addClass('divider-1-hide');
  // else sticky.removeClass('divider-1-hide');
});

});

 </script>




  </head>
  <body>   
  

    <!-- <div class="test"><div class="menu" title="menu.html"></div></div> -->


 <div class="shell">
   <div class="nav">
    <div class="logo">
      <img src="../../global-assets/Simm-Logo.png" alt="" />
    </div>
    <div class="title">
      <h4 class="first">Simmeyon</h4>
      <h4 class="last">Strickland</h4>
    </div>
   </div>
    <div class="wrapper">
      <div class="left-rail">
        <div class="container">
          <div class="first">
            <p class="uppercase">About</p>
            <div class="divider-1"></div>
          </div>
          <div class="second">
            <p class="uppercase">Experience</p>
            <div class="divider-2"></div>
          </div>
          <div class="third">
            <p class="uppercase">Clients</p>
            <div class="divider-3"></div>
          </div>
          <div class="fourth">
            <p class="uppercase">Testimonials</p>
            <div class="divider-4"></div>
          </div>
        </div>
      </div>
  
      <div class="hero">
        <div class="container">
          <div class="middle">
            <div class="top">
              <span>Digital<br>Designer &<br>Director</span>
            </div>
            <div class="bottom">
              <p class="first">MY MISSION IS TO DESIGN THOUGHTFUL, UNIQUE, AND ENGAGING DIGITAL EXPERIENCES BASED ON A STRATEGIC APPROACH AROUND LEARNING AND IMPROVING.</p>
              <p class="second">I am a functional aesthetic designer with specialties in digital UI/UX,  branding, as well as art directions. Under these diciplines I have created experiences for mobile, tablet, and web for both iOS and Android platforms. On occasion, I take on freelance projects that pique my interest.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="experience">
        <div class="container">
          <h1>Experience</h1>
          <div class="table">
            <div class="table-container">
              <div class="headers">
                <span>IBM, Watson Media & Weather</span>
                <span>UI/UX Product Designer </span>
                <span>2017-2020</span>
              </div>
              <div class="divider"></div>
              <div class="lists">
                <div class="column-1">
                  <p class="first">The Weather Channel</p>
                  <p>Mobiquity, Inbc.</p>
                  <p>Leap Communication</p>
                  <p>Freelance</p>
                  <p>Sagepath Inc.</p>
                </div>
                <div class="column-2">
                  <p class="first">Designer & Art Direction</p>
                  <p>UI/UX Art Direction & Design</p>
                  <p> Art Direction & Design</p>
                  <p> Designer</p>
                  <p>Visual Design</p>
                </div>
                <div class="column-3">
                  <p class="first">2015-2017</p>
                  <p>2014-2015</p>
                  <p>2014-2014</p>
                  <p>2014-Present</p>
                  <p>2013-2014</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="brands">
        <div class="container">
          <h1>Brands I've<br>Worked With</h1>
          <div class="table">
            <div class="table-container">
              <div class="lists">
                <div class="column-1">
                  <p>The Weather Channel</p>
                  <p>Weather Underground (WU)</p>
                  <p>Samsung</p>
                  <p>Disney</p>
                  <p>Universal Studios</p>
                  <p>Pixar</p>
                  <p>McDonald's</p>
                  <p>Applebee's</p>
                  <p>Starbucks</p>
                  <p>Subaru</p>
                  <p>Naples Marco Island</p>
                  <p>Duraflame</p>
                </div>
                <div class="column-2">
                  <p>Target</p>
                  <p>State Farm</p>
                  <p>Toyota</p>
                  <p>Honda</p>
                  <p>Proche</p>
                  <p>The Game Show Network (GSN)</p>
                  <p>MODA (Museum of Design Atlanta)</p>
                  <p>Atlanta Jewish Music Festival</p>
                  <p>Marshall's</p>
                  <p>Walmart</p>
                  <p>NBC Unviversal</p>
                  <p>Burt's Bees</p>
                </div>
                <div class="column-3">
                  <p>Audi</p>
                  <p>Swanson</p>
                  <p>John Deere</p>
                  <p>Bailey's Nurseries</p>
                  <p>Coca-Cola Shopper Marketing</p>
                  <p>Tribeca Film Festival</p>
                  <p>Bayer Kg</p>
                  <p>OFF</p>
                  <p>Volvo</p>
                  <p>Mills Fleet Farm</p>
                  <p>GMC</p>
                  <p>Ram</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonials">
        <div class="container">
          <h1>Testimonials</h1>
          <div class="table">
            <div class="table-container">
              <div class="row-1">
                <div class="left">
                  <div class="header">
                    <span>Briand Hull</span>
                    <p>Head of Global Creative Labs at IBM, Watson Media and Weather</p>
                  </div>
                </div>
                <div class="right">
                  <p>I had the pleasure of working with Simmeyon for almost three years. After an extensive search and arduous selection process, Simmeyon became the first Senior Designer for our growing Atlanta-based Creative Lab inside the Weather Company/IBM Watson Media and Weather. The Creative Lab's remit is to support global… <span><a href="#">See More</a></span> </p>
                </div>
              </div>
              <div class="row-2">
                <div class="left">
                  <div class="header">
                    <span>ROBERT REDMOND</span>
                    <p>Creative Director over Creative Labs at IBM, Watson Media and Weather</p>
                  </div>
                </div>
                <div class="right">
                  <p>Sim is incredibly creative, talented and conscientious. Behind his quiet, mild-mannered style is one great designer! I loved having him on my team and would strongly recommend him to anyone.</p>
                </div>
              </div>
              <div class="row-3">
                <div class="left">
                  <div class="header">
                    <span>BRIND KHANNA</span>
                    <p>Design Program Manager at Mailchimp</p>
                  </div>
                </div>
                <div class="right">
                  <p>Sim is incredibly creative, talented and conscientious. Behind his quiet, mild-mannered style is one great designer! I loved having him on my team and would strongly recommend him to anyone.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- simm -->
    <div class="simm">
      <div class="container">
        <img src="../../global-assets/Simm.png" alt="" />
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="work">
          <h2>Let's Work Together</h2>
          <h4>Get In Touch</h4>
        </div>
        <div class="contact">
          <div class="first">
            <p>Simmeyon <span>(Simm)</span>Strickland</p>
            <p>Atanta, Ga.</p>
            <p class="email">hello@creativesimm.com</p>
          </div>
          <div class="second">
            <p>Coded with love by</p>
            <p class="boris">Boris Chantel</p>
          </div>
          <div class="third">
            <h4 class="special">Also Find Me On</h4>
            <h4 class="behance">Behance</h4>
            <h4>LinkedIn</h4>
          </div>
        </div>
      </div>
    </div>
 </div>
  </body>
</html>