body {
  margin: 0 auto;
  background-color: #efeff9;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}

h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}

h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}

h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}

h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}

p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}

.test {
  height: 100px;
  width: 100px;
}

.test .menu {
  width: 100px;
}

.shell .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

.shell .nav .logo {
  display: -ms-grid;
  display: grid;
  margin: auto auto auto 0;
}

.shell .nav .title {
  margin: auto;
}

.shell .nav .title h4 {
  text-align: center;
  font-weight: 600;
  line-height: 1.25;
}

.shell .nav .title .first {
  margin-top: 0;
  margin-bottom: 0;
}

.shell .nav .title .last {
  margin-top: 6px;
}

.shell .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80%;
      grid-template-columns: 1fr 80%;
  width: 80%;
  height: 100%;
  margin: auto;
}

.shell .wrapper .left-rail {
  margin-top: 100px;
  min-height: 100vh;
  height: 100vh;
  position: fixed;
  margin-right: 0;
}

.shell .wrapper .left-rail p {
  color: #4a4a4a;
}

.shell .wrapper .left-rail .container {
  width: 200px;
}

.shell .wrapper .left-rail .container .first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
}

.shell .wrapper .left-rail .container .first .divider-1 {
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: red;
  opacity: 1;
}

.shell .wrapper .left-rail .container .first .divider-1-hide {
  opacity: 0;
}

.shell .wrapper .left-rail .container .second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
}

.shell .wrapper .left-rail .container .second .divider-2 {
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: red;
  opacity: 0;
}

.shell .wrapper .left-rail .container .second .divider-2-show {
  opacity: 1;
}

.shell .wrapper .left-rail .container .third {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 1fr;
      grid-template-columns: 85px 1fr;
}

.shell .wrapper .left-rail .container .third .divider-3 {
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: red;
  opacity: 0;
}

.shell .wrapper .left-rail .container .third .divider-3-show {
  opacity: 1;
}

.shell .wrapper .left-rail .container .fourth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
}

.shell .wrapper .left-rail .container .fourth .divider-4 {
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: red;
  opacity: 0;
}

.shell .wrapper .left-rail .container .fourth .divider-4-show {
  opacity: 1;
}

.shell .wrapper .left-rail-hide {
  position: relative;
  top: 4300px;
}

.shell .wrapper .hero {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.shell .wrapper .hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.shell .wrapper .hero .container .middle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  width: 70%;
}

.shell .wrapper .hero .container .middle .top span {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 90px;
  text-transform: uppercase;
  color: #232323;
}

.shell .wrapper .hero .container .middle .bottom {
  padding-left: 125px;
  margin-top: 80px;
}

.shell .wrapper .hero .container .middle .bottom .first {
  font-weight: 600;
  font-size: 21px;
  color: #4a4a4a;
  line-height: 1.2;
}

.shell .wrapper .hero .container .middle .bottom .second {
  font-weight: 500;
  font-size: 21px;
  color: #4a4a4a;
  line-height: 1.2;
}

.shell .experience {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 400px;
}

.shell .experience .container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: auto;
}

.shell .experience .container h1 {
  margin-bottom: 0;
}

.shell .experience .container .table-container {
  display: -ms-grid;
  display: grid;
}

.shell .experience .container .table-container .headers {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.shell .experience .container .table-container .headers span {
  font-family: 'Raleway';
  font-size: 21px;
  font-weight: 700;
}

.shell .experience .container .table-container .divider {
  height: 3px;
  background-color: #FE5000;
  width: 80%;
  margin-top: 60px;
}

.shell .experience .container .table-container .lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
}

.shell .experience .container .table-container .lists .column-1 p {
  margin-top: 60px;
}

.shell .experience .container .table-container .lists .column-1 .first {
  margin-top: 0;
}

.shell .experience .container .table-container .lists .column-2 p {
  margin-top: 60px;
}

.shell .experience .container .table-container .lists .column-2 .first {
  margin-top: 0;
}

.shell .experience .container .table-container .lists .column-3 p {
  margin-top: 60px;
}

.shell .experience .container .table-container .lists .column-3 .first {
  margin-top: 0;
}

.shell .brands {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 600px;
}

.shell .brands .container .table .table-container .lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.shell .testimonials {
  margin-top: 400px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.shell .testimonials .table {
  width: 90%;
}

.shell .testimonials .table .table-container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.shell .testimonials .table .table-container .row-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.shell .testimonials .table .table-container .row-1 .left {
  padding-right: 160px;
}

.shell .testimonials .table .table-container .row-1 .left .header span {
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
}

.shell .testimonials .table .table-container .row-1 .right p span {
  color: #FE5000;
  font-weight: 700;
}

.shell .testimonials .table .table-container .row-1 .right p span a {
  text-decoration: none;
  color: inherit;
}

.shell .testimonials .table .table-container .row-2 {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.shell .testimonials .table .table-container .row-2 .left {
  padding-right: 160px;
}

.shell .testimonials .table .table-container .row-2 .left .header span {
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
}

.shell .testimonials .table .table-container .row-3 {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.shell .testimonials .table .table-container .row-3 .left {
  padding-right: 160px;
}

.shell .testimonials .table .table-container .row-3 .left .header span {
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
}

.shell .simm {
  background-color: #efeff9;
  margin-top: 400px;
}

.shell .simm .container {
  max-height: 242px;
  display: -ms-grid;
  display: grid;
}

.shell .simm .container img {
  margin: auto;
}

.shell .footer {
  padding-bottom: 50px;
  background-color: #fff;
}

.shell .footer .container .work {
  margin-bottom: 100px;
}

.shell .footer .container .work h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 130px;
}

.shell .footer .container .work h4 {
  margin-top: 0;
  text-align: center;
  color: #fe2400;
}

.shell .footer .container .contact {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50% 1fr;
      grid-template-columns: 1fr 50% 1fr;
}

.shell .footer .container .contact .first .email {
  margin-top: 60px;
  font-weight: 700;
}

.shell .footer .container .contact .second .boris {
  font-weight: 700;
}

.shell .footer .container .contact .third h4 {
  text-align: right;
  text-transform: uppercase;
}

.shell .footer .container .contact .third .special {
  color: #fe2400;
  text-transform: uppercase;
  font-weight: 700;
}

.shell .footer .container .contact .third h4 {
  margin: 0;
}

.shell .footer .container .contact .third .behance {
  margin: 12px 0 0 0;
}
/*# sourceMappingURL=style.css.map */