body {
  margin: 0 auto;
  background-color: #efeff9;
  height: 100%;
}
// Globals
.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 90px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: #232323;
  line-height: 1.04;
}
h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
}
h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #232323;
}
h4 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #232323;
  line-height: 1.25;
}
h5 {
  font-family: "Raleway";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #232323;
}
p {
  color: #232323;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
}
// Variables
$color-background: #f5f5f5;
$color-main: #232323;
$color-active: #fff;
$color-link: #4a4a4a;

$button-height: 27px;
$button-width: 35px;

.test {
  height: 100px;
  width: 100px;
  .menu {
    width: 100px;
  }
}



.shell {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    .logo {
      display: grid;
      margin: auto auto auto 0;
    }
    .title {
      margin: auto;
      h4 {
        text-align: center;
        font-weight: 600;
        line-height: 1.25;
      }
      .first {
        margin-top: 0;
        margin-bottom: 0;
      }
      .last {
        margin-top: 6px;
      }
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 80%;
    width: 80%;
    height: 100%;
    margin: auto;
    .left-rail {
      margin-top: 100px;
      min-height: 100vh;
      height: 100vh;
      position: fixed;
      margin-right: 0;
      p {
        color: #4a4a4a;
      }
      .container {
        width: 200px;
        .first {
          display: grid;
          grid-template-columns: 70px 1fr;
          .divider-1 {
            margin: auto;
            height: 1px;
            width: 100%;
            background-color: red;
            opacity: 1;
          }
          .divider-1-hide {
            opacity: 0;
          }
        }
        .second {
          display: grid;
          grid-template-columns: 120px 1fr;
          .divider-2 {
            margin: auto;
            height: 1px;
            width: 100%;
            background-color: red;
            opacity: 0;
          }
          .divider-2-show {
            opacity: 1;
          }
        }
        .third {
          display: grid;
          grid-template-columns: 85px 1fr;
          .divider-3 {
            margin: auto;
            height: 1px;
            width: 100%;
            background-color: red;
            opacity: 0;
          }
          .divider-3-show {
            opacity: 1;
          }
        }
        .fourth {
          display: grid;
          grid-template-columns: 140px 1fr;
          .divider-4 {
            margin: auto;
            height: 1px;
            width: 100%;
            background-color: red;
            opacity: 0;
          }
          .divider-4-show {
            opacity: 1;
          }
        }
      }
    }
    .left-rail-hide {
      position: relative;
      top: 4300px;
    }
    .hero {
      grid-column: 2 / 3;
      .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
        margin-top: 100px;
        .middle {
          grid-column: 2 /3;
          width: 70%;
          .top {
            span {
              font-family: "Raleway";
              font-weight: 900;
              font-size: 90px;
              text-transform: uppercase;
              color: #232323;
            }
          }
          .bottom {
            padding-left: 125px;
            margin-top: 80px;
            .first {
              font-weight: 600;
              font-size: 21px;
              color: #4a4a4a;
              line-height: 1.2;
            }
            .second {
              font-weight: 500;
              font-size: 21px;
              color: #4a4a4a;
              line-height: 1.2;
            }
          }
        }
      }
    }
  }

  .experience {
    grid-column: 2 / 3;
    margin-top: 400px;
    .container {
      display: grid;
      width: 90%;
      margin: auto;
      h1 {
        margin-bottom: 0;
      }
      .table-container {
        display: grid;
        
        .headers {
          margin-top: 60px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          span {
            font-family: 'Raleway';
            font-size: 21px;
            font-weight: 700;
          }
        }
        .divider {
          height: 3px;
          background-color: #FE5000;
          width: 80%;
          margin-top: 60px;
        }
        .lists {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 60px;
          .column-1 {
            p {
              margin-top: 60px;
            }
            .first {
              margin-top: 0;
            }
          }
          .column-2 {
            p {
              margin-top: 60px;
            }
            .first {
              margin-top: 0;
            }
          }
          .column-3 {
            p {
              margin-top: 60px;
            }
            .first {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  .brands {
    grid-column: 2 / 3;
    margin-top: 600px;
    .container {
      .table {
        .table-container {
          .lists {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
    }
  }
  .testimonials {
    margin-top: 400px;
    grid-column: 2 / 3;
    .table {
      width: 90%;
      .table-container {
        grid-template-columns: 1fr 1fr;
        .row-1 {

          display: grid;
          grid-template-columns: 40% 1fr;
          .left {
            padding-right: 160px;
            .header {
              span {
                font-family: 'Raleway';
                font-weight: 800;
                text-transform: uppercase;
              }
            }
          }
          .right {
            p  {
              span {
                color: #FE5000;
                font-weight: 700;
                a {
                  text-decoration: none;
                  color: inherit;
                }
              }
            }
          }
        }
        .row-2 {
          margin-top: 40px;
          display: grid;
          grid-template-columns: 40% 1fr;
          .left {
            padding-right: 160px;
            .header {
              span {
                font-family: 'Raleway';
                font-weight: 800;
                text-transform: uppercase;
              }
            }
          }
        }
      
      .row-3 {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 40% 1fr;
        .left {
          padding-right: 160px;
          .header {
            span {
              font-family: 'Raleway';
              font-weight: 800;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    }
  }
  .simm {
    background-color: #efeff9;
    margin-top: 400px;
    .container {
      max-height: 242px;
      display: grid;
      img {
        margin: auto;
      }
    }
  }
  .footer {
    padding-bottom: 50px;
    background-color: #fff;
    .container {
      .work {
        margin-bottom: 100px;
        h2 {
          text-align: center;
          margin-bottom: 15px;
          margin-top: 0;
          padding-top: 130px;
        }
        h4 {
          margin-top: 0;
          text-align: center;
          color: #fe2400;
        }
      }
      .contact {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
        .first {
          .email {
            margin-top: 60px;
            font-weight: 700;
          }
        }
        .second {
          .boris {
            font-weight: 700;
          }
        }
        .third {
          h4 {
            text-align: right;
            text-transform: uppercase;
          }
          .special {
            color: #fe2400;
            text-transform: uppercase;
            font-weight: 700;
          }
          h4 {
            margin: 0;
          }
          .behance {
            margin: 12px 0 0 0;
  
          }
          
        }
      }
    }
  }
}
