span {
    background: $color-main;
    border-radius: 50px;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
      
      &:nth-of-type(2) {
        top: 11px;
      }
      
      &:nth-of-type(3) {
        top: 22px;
      }
    }
    .hover-menu {
      visibility: hidden;
      display: grid;
      .menu {
        
        position: fixed;
        right: 1.6%;
        top: 5.5%;
        color: #fff;
        font-family: 'Raleway';
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        a {
          text-decoration: none;
          color: #FFFFFF;
        }
  
      }
    }
    .hover-menu-open {
      visibility: visible;
    }
    .hover-menu-closed {
      // display: none;
      visibility: hidden;
     
    }
    
  
  .button-container-closed {
    // display: none;
    visibility: hidden;
  }
  
  
  .overlay {
    z-index: 99;
    position: fixed;
    background: $color-main;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s;
    overflow: hidden;
    display: grid;
    &.open {
      opacity: .99;
      visibility: visible;
      height: 100%;
      .menu {
        // animation: fadeInRight .5s ease forwards;
        // animation-delay: .35s;
        display: grid;
        img {
          display: grid;
          margin: auto;
          animation: fadeInRight 2.5s ease forwards;
        // animation-delay: .35s;
        }
        .close-closed {
          display: none;
        }
        .close-open {
          display: grid;
        }
  
        
    }
    
  }
}